#result li,
.form-control,
footer .container,
form {
    text-align: center
}

.btn-results,
footer h2,
form label h1 {
    text-transform: uppercase
}
body,
html {
    font-family: Chivo, sans-serif;
    min-height: 100%!important;
    height: 100%;
    background: #313840;
    padding-top: 70px
}

.bg-dark {
    background: #262626!important;
}
#navbarDropdown{
    color: #fff !important;
}
#navbarDropdown:hover{
    color: #ccc !important;
}

.logo {
    font-size: 1.5em;
    margin-left: 20px;
}
.logo:hover, .logo,.btn-results,.btn-copy,footer .container {
	color: #fff !important;
}
sup{
	font-size: 10px;
	font-weight: 500;
	top: -1.5em !important;
}

.logo:hover {
    text-decoration: none
}

.logo-orange,
.range {
    color: orange
}

.cron,
form label h1,
form label span{
    color: #01B59F
}

.form-group {
    margin-bottom: 45px
}

.flex {
    height: 100%;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: center
}

form {
    width: 90%;
    margin: 0 auto
}

form label h1 {
    font-size: 20px;
    display: inline-block;
    padding-bottom: 10px
}

.form-control {
    font-size: 20px;
    padding: 25px 10px
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.btn-results {
    width: 180px;
    height: 50px;
    margin: 0 auto 50px;
    background: #01B59F;
}

.btn-copy {
    background: orange;
}

#result ol {
    padding: 0 20px;    
}
#result{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#result li {
    list-style: none;    
    display: block;
    margin: 0 auto;
}

.modal-dialog {
    max-width: 80% !important;
    margin: 50px auto
}

.invalid {
    background: #dc9f9f!important
}
.git-hub{
    float: right;
	margin-right: 20px;
}
.link-cron-expression{
	color: #fff;
	border-bottom: 1px solid #01B59F;
}
.link-cron-expression:hover{
	text-decoration: none;
	color: orange;
}
.example{
    color: orange;
}
footer .container {
    padding: 45px 20px;
}

footer p {
    font-weight: 300
}

footer h2 {
    font-size: 20px;
    padding-bottom: 10px
}
.alert{
	display: none;
}
.alert p{
	margin: 0;
}
.alert-error{
	margin-top: 10px;
	display: block;
}
.navbar-nav{
    margin-left: 50px;
}
@media only screen and (max-width:1160px) {
    .modal-dialog{
        max-width: 95% !important;
    }
}
@media only screen and (max-width:767px) {
    .git-hub{
        display: none;
    }
    .logo{
        width: 100%;
    }
    .navbar-nav{
        margin-left: 20px;
    }
}
@media only screen and (max-width:600px) {
    body,
    html {
        padding-top: 60px
    }
    form label h1, footer h2 {
        font-size: 17px;
    }
    footer .container{
        padding-top: 20px; 
    }
}
@media only screen and (max-width:500px) {
    body,
    html {
        padding-top: 55px;
    }
    footer .container{
        padding-top: 0; 
    }
}